<section class="best">
  <div class="container">
    <div class="best__inner">
      <div class="best__content">
        <h3 class="best__title">Филадельфия с лососем</h3>
        <div class="best__descr">Нори, рис, японский майонез, бальзамик,</div>
        <div class="best__actions">
          <button class="best__btn">В корзину</button>
          <div class="best__price">190 <span>руб</span></div>
          <div class="best__text">Лучшее предложение недели!</div>
        </div>
      </div>
      <div class="best__img">
        <img src="./images/best/best-01.png" alt="best" />
      </div>
    </div>
  </div>
</section>
