<footer class="footer q">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__logo">
        <a href="#"><img src="./images/logo.svg" alt="logo" /></a>
      </div>
      <div class="footer__navigation navigation-footer">
        <h4 class="footer-subtitle">Навигация:</h4>
        <ul class="navigation-footer__list">
          <li class="navigation-footer__item">
            <a class="navigation-footer__link" href="#">Главная</a>
          </li>
          <li class="navigation-footer__item">
            <a class="navigation-footer__link" href="#">Меню</a>
          </li>
          <li class="navigation-footer__item">
            <a class="navigation-footer__link" href="#">Доставка</a>
          </li>
          <li class="navigation-footer__item">
            <a class="navigation-footer__link" href="#">Вакансии</a>
          </li>
          <li class="navigation-footer__item">
            <a class="navigation-footer__link" href="#">Новости</a>
          </li>
        </ul>
      </div>
      <div class="footer__phones">
        <h4 class="footer-subtitle">Оформить заказ:</h4>
        <a href="+98888887654">+9 (888) 888 7654</a>
        <a href="+98888887654">+9 (888) 888 7654</a>
        <a href="+98888887654">+9 (888) 888 7654</a>
      </div>
      <div class="footer__time-work">
        <h4 class="footer-subtitle">Время работы:</h4>
        <p>с 11:00 до 22:45</p>
        <p>с 11:00 до 22:45</p>
      </div>
      <div class="footer__social">
        <h4 class="footer-subtitle">Мы в соц. сетях:</h4>
        <div class="footer__social-icons">
          <a href="#"> <img src="./images/igram.svg" alt="igram" /></a>
          <a href="#"> <img src="./images/fbook.svg" alt="fbook" /></a>
        </div>
      </div>
    </div>
    <div class="footer__copy">
      <div class="footer__copy-text"><a href="#">Политика конфиденциальности</a></div>
      <div class="footer__copy-icon">
        <a href="#"><img src="./images/copy-icone.png" alt="qwe" /></a>
      </div>
    </div>
  </div>
</footer>
