@media (max-width: 1400px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
  .card {
    display: flex;
    margin: 0 auto;
  }

  .best__img img {
    width: 40%;
    top: 80px;
  }
}
@media (max-width: 1300px) {
  .container {
    padding: 0 10px;
  }
  .logo-desc {
    display: none;
  }
  .logo-mob {
    display: block;
    width: 100px;
  }
  .menu {
    justify-content: space-between;
    gap: 0 15px;
  }

  .actions__btn {
    padding: 10px;
  }

  .actions__btn svg {
    width: 20px;
    height: 20px;
  }

  .actions__btn span {
    display: none;
  }
  .actions__btn_bp {
    padding: 10px;
  }

  .footer__inner {
    gap: 0 20px;
  }
}

@media (max-width: 1020px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .best {
    &__img {
      img {
        right: 0;
      }
    }
  }
}

@media (max-width: 850px) {
  .rolls__inner,
  .drinks__inner,
  .sets__inner,
  .sushi__inner {
    padding: 30px 0;
  }
  .header__top {
    justify-content: start;
    gap: 10px;
  }
  .header__logo-link {
    margin-right: auto;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    visibility: hidden;
  }
  .burger-menu {
    display: block;
  }
  .best {
    &__inner {
      margin: 0;
    }
    &__title {
      font-size: 40px;
    }

    &__text {
      font-size: 14px;
    }
  }

  .footer__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .footer__social {
    margin-left: 0;
  }
  .footer__logo {
    img {
      width: 100%;
    }
  }
}

@media (max-width: 780px) {
  .actions {
    gap: 0 8px;
  }
  .menu-category {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    max-width: 100%;

    &__list {
      width: 100%;
      gap: 8px;
      overflow: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }

    &__link {
      padding: 8px;
      background-color: var(--neutral);
      border-radius: 12px;
      p {
        display: none;
      }
    }
  }
  .best {
    &__content {
      padding-top: 100px;
      padding-left: 20px;
      padding-right: 20px;
    }

    &__img {
      img {
        width: 60%;
        top: 40px;
        right: 10%;
      }
    }

    &__descr {
      font-size: 16px;
    }

    &__price {
      font-size: 28px;
      span {
        font-size: 24;
      }
    }
  }
}

@media (max-width: 720px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    min-width: 100%;
    &__top {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 20px;
      margin-bottom: 20px;
      &_drinks {
        justify-content: space-around;
      }
    }

    &__tag {
      font-size: 14px;
      top: -14px;
      left: 0px;
    }

    &__content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      //   align-items: center;
    }

    &__img {
      width: 100%;
      padding-bottom: 40%;
    }

    &__img_drinks {
      width: 40%;
    }
    max-width: 100%;
    display: flex;

    &__bottom {
      justify-content: flex-end;
      gap: 50px;
    }
  }
}

@media (max-width: 550px) {
  .container {
    padding: 0;
  }
  .card {
    padding: 12px;
    &__content {
      font-size: 12px;
    }
    &__title {
      font-size: 16px;
    }
    &__img {
      padding-bottom: 0;
    }
    &__img > img {
      position: relative;
      width: 150px;
      height: 150px;
    }

    &__filter {
      bottom: -20px;
    }

    &__bottom {
      gap: 20px;
    }

    &__price {
      font-size: 28px;
      span {
        font-size: 24px;
      }
    }
  }

  .best__img img {
    top: 60px;
    right: 24%;
  }
}

@media (max-width: 420px) {
  .card {
    &__img > img {
      position: relative;
      width: 100px;
      height: 100px;
    }

    &__btn {
      padding: 8px;
    }
  }

  .logo-mob {
    width: 67px;
  }
}

.hiden {
  background: #4d4d4d;
  min-height: 100%;
  opacity: 0.9;
  position: relative;
  min-width: 100%;
  z-index: 10000;
  top: 0;
  left: 0;
}
