.sushi {
  &__inner {
    padding: 62px 0;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 32px;
  }

  &__title {
  }

  &__list {
  }

  &__item {
  }
}
